@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>Aplikacja mePost, prezentująca Proof of Concept serwisu w stylu Facebook lub Twitter <br/> 
    Autor: Jan Paluch WFiIS AGH
</p>